.mainContainer {
    height: 100%;
    width: 100%;    
}
.clients {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.clientWindow {
    height: 250px;
    width: 600px;
    margin: 20px;
}

.dim {
    background-color: rgba(0, 0, 0, 0.647);
}

.modal  {
    position: fixed;
    top: 300px;
    left: 300px;
}

.btnOpen {
    width: auto;
    height: 50px;
}

.btnClose {
    position: relative;
    right: 0;
    width: auto;
    height: auto;
}

.modal {
    background-color: white;
}